.train-bullet {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: none;
  
  &.train-bullet-small {
    width: 1.5em;
    height: 1.5em;
  }
  
  &.train-bullet-medium {
    width: 2.5em;
    height: 2.5em;
  }
  
  // Default size (when no size prop or size is not small/medium)
  &:not(.train-bullet-small):not(.train-bullet-medium) {
    width: 2em;
    height: 2em;
  }
}