.practice-modal {
  &.dark {
    background-color: #1b1c1d;
    color: #ffffff;

    .header, .content {
      background-color: #1b1c1d;
      color: #ffffff;
    }

    .close.icon {
      color: #ffffff;
    }
  }

  .ui.grid > .row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .exit-practice-section {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #ddd;
  }

  &.dark .exit-practice-section {
    border-top-color: #444;
  }
}

