@import '../_shared';

.solution-modal {
  @extend %modal-base;

  .share-btn {
    width: 10em;
  }

  .share-btn-wrapper {
    margin-top: 1.5em;

    &.practice-mode {
      margin-top: 2em;
    }
  }
}